@media (max-width: 768px) {
    .slider__item-img--vertical {
        margin-left: 16px;
        width: 162px;
        height: 345px;
    }

    .slider__item-img--horizontal {
        width: 345px;
        height: 162px;
    }

    .display-off--1 {
        width: 125px;
        height: 221px;
        top: 97px;
        left: 26px;
    }

    .display-off--2 {
        width: 237px;
        height: 134px;
        top: 156px;
        right: 95px;
    }

    .slider__items {
        height: 452px;
    }

    .portfolio .container {
        padding: 59px 40px 65px 40px;
    }

    .portfolio__gallery-image-block {
        margin-top: 19px;
        width: 216px;
        height: 183px;
    }

    .about-us .container {
        padding: 52px 40px 72px 40px;
    }

    .features .container {
        padding: 39px 40px 64px 40px;
    }

    .staff__profile {
        width: 218px;
    }

    .image-block {
        width: 218px;
    }

    .get-a-quote .container {
        padding: 53px 40px 45px 40px;
    }

    .get-a-quote__form {
        width: 442px;
        margin-right: 29px;
    }

    .get-a-quote__form-input {
        width: calc(100% - 10px);
        padding-left: 10px;
    }

    .get-a-quote__form-textarea {
        width: calc(100% - 10px);;
        height: 159px;
        padding-left: 10px;
    }

    .contact-information {
        margin-top: 42px;
        width: 221px;
    }

    .get-a-quote__form-button {
        width: 136px;
        margin-top: 17px;
    }
}